/* theme color #68b58e */
/*
border color = #c4c4c4
*/
*{padding: 0; margin: 0; box-sizing: border-box;}
html{
	font-family: 'Slabo 27px', serif;
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: white;
}
nav{
	width: 100%;
	height: 10vh;
	border-bottom: 1px solid #c4c4c4;
	background-color: #68b58e;
}
nav a{
	text-decoration: none;
	transition: 0.2s;
}
nav a:hover{
	color: grey;
}
.nav_s_left, .nav_s_right{
	width: 30%;
	height: 10vh;
}
.nav_s_left{
	float: left;
}
.s_l_p_left, .s_l_p_right, .s_l_p_center{
	color: white;
	font-size: 42px;
	line-height: 9vh;
	text-align: center;
}
.s_l_p_left, .s_l_p_right{
	width: 50%;
}
.s_l_p_left{
	float: left;
}
.s_l_p_right{
	float: left;
}
.s_l_p_left a, .s_l_p_right a{
	color: white;
}
.nav_s_right{
	position: absolute;
	top: 0%;
	left: 70%;
	float: right;
}
.dropdown{
	float: right;
	position: relative;
	width: 50%;
	height: 100%;
}
.account_dropdown{
	display: none;
    position: absolute;
    left: 0;
    top: 10vh;
    height: 240px;
    width: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.account_dropdown a{
	display: block;
	color: black;
	position: relative;
	font-size: 40px;
}
.dropdown:hover > .account_dropdown{
	display: block;
}
.search_bar{
	width: 40%;
	height: 10vh;
	margin: 0 auto;
}
input[name="search_bar"]{
	position: relative;
	font-size: 30px;
	border: 1px solid #c4c4c4;
	border-radius: 10px;
	top: 26%;
	left: 25%;
	height: 40px;
	width: 50%;
	margin: 0 auto;
	padding-left: 10px;
}
.n_l_active{
	border-bottom: 2px solid white;
	transform: 0.2s;
}
header{
	margin: 1vh 0vh;
	width: 100%;
	height: 18vh;
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	background-color: rgb(240, 240, 240);
}
header h1, header h2{
	color: #444444;
}
header h1{
	font-family: 'Slabo 27px', serif;
	font-size: 50px;
	height: 30px;
	text-align: center;
}
header h2{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	height: 30px;
	position: relative;
	top: 40px;
	text-align: center;
}
.header_bottom{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	position: relative;
	top: 70px;
	height: 10px;
	width: 100%;
	padding: 0px 20px;
}
.h_p_left{
	width: 50%;
	float: left;
	text-align: left;
}
.h_p_right{
	width: 50%;
	float: right;
	text-align: right;
}
main{
	font-family: 'Slabo 27px', serif;
	width: 100%;
	height: 100vh;
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	background-color: rgb(240, 240, 240);
}
footer{
	font-family: 'Slabo 27px', serif;
	margin: 1vh 0vh 0vh 0vh;
	width: 100%;
	height: 18vh;
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	background-color: #68b58e;
}
.footer_container{
	top: 10%;
	position: relative;
	width: 80%;
	margin: 0 auto;
}
.footer_s_left, .footer_s_right{
	border: 1px solid red;
	width: 20vw;
	position: relative;
}
.footer_s_left{
	float: left;
	text-align: left;
}
.footer_s_right{
	float: right;
	text-align: right;
}
.footer_s_left a, .footer_s_right a{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	display: block;
	color: white;
	text-decoration: none;
}
.footer_s_logo{
	display: block;
	border: 1px solid red;
	position: relative;
	height: 150px;
	width: 150px;
	margin: 0 auto;
}
hr{
	position: relative;
	top: 30%;
	width: 80%;
	margin: 0 auto;
}